# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
backend/.env

# Ignore Google Cloud credentials (the JSON key)
backend/service-account.json

# Ignore virtual environments
venv/
.venv/
